version: 2

updates:
    - package-ecosystem: composer
      directory: "/"
      schedule:
        interval: daily
        time: "04:00"
      open-pull-requests-limit: 10
      labels:
      - dependencies
      - skip-changelog
      rebase-strategy: disabled

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: daily
          time: "04:00"
      commit-message:
          include: "scope"
          prefix: "github-actions"
      labels:
          - dependencies
          - skip-changelog
      open-pull-requests-limit: 10
