parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Doctrine\\\\Persistence\\\\Mapping\\\\ClassMetadata\\:\\:\\$fieldMappings\\.$#"
			count: 1
			path: src/SearchableEntity.php

