<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
         xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit/phpunit.xsd">
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
    </coverage>
    <php>
        <env name="KERNEL_CLASS" value="Meilisearch\Bundle\Tests\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="false"/>
        <env name="MEILISEARCH_PREFIX" value="sf_phpunit_"/>
        <env name="MEILISEARCH_URL" value="http://127.0.0.1:7700"/>
        <env name="MEILISEARCH_API_KEY" value="masterKey"/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.6"/>
    </php>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix=".php">tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix=".php">tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
