# Testing the code base against the Meilisearch pre-releases
name: Pre-Release Tests

# Will only run for PRs and pushes to bump-meilisearch-v*
on:
  push:
    branches:
      - bump-meilisearch-v*
  pull_request:
    branches:
      - bump-meilisearch-v*

jobs:
  meilisearch-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Grep docker latest rc version of Meilisearch
        id: grep-step
        run: |
          MEILISEARCH_VERSION=$(sh .github/scripts/get-latest-meilisearch-rc.sh)
          echo $MEILISEARCH_VERSION
          echo "version=$MEILISEARCH_VERSION" >> $GITHUB_OUTPUT
    outputs:
      version: ${{ steps.grep-step.outputs.version }}

  integration-tests:
    runs-on: ubuntu-latest
    needs: ['meilisearch-version']
    services:
      meilisearch:
        image: getmeili/meilisearch-enterprise:${{ needs.meilisearch-version.outputs.version }}
        ports:
          - '7700:7700'
        env:
          MEILI_MASTER_KEY: masterKey
          MEILI_NO_ANALYTICS: true
    strategy:
      matrix:
        php-version: [ '8.1', '8.2', '8.3', '8.4' ]
        sf-version: ['6.4', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0' ]
        dependencies: [ 'default' ]
        exclude:
          - php-version: '8.1'
            sf-version: '7.0'
          - php-version: '8.1'
            sf-version: '7.1'
          - php-version: '8.1'
            sf-version: '7.2'
          - php-version: '8.1'
            sf-version: '7.3'
          - php-version: '8.1'
            sf-version: '7.4'
          - php-version: '8.1'
            sf-version: '8.0'
          - php-version: '8.2'
            sf-version: '8.0'
          - php-version: '8.3'
            sf-version: '8.0'
        include:
          - php-version: '8.4'
            sf-version: '6.4'
            dependencies: 'lowest'
          - php-version: '8.4'
            sf-version: '6.4'
            dependencies: 'highest'
          - php-version: '8.4'
            sf-version: '7.3'
            dependencies: 'highest'

    name: integration-tests-against-rc (PHP ${{ matrix.php-version }}) (Symfony ${{ matrix.sf-version }}.*)${{ matrix.dependencies != 'default' && format(' ({0})', matrix.dependencies) || '' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer, flex

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        env:
          SYMFONY_REQUIRE: ${{ matrix.sf-version }}.*
        with:
          composer-options: --no-interaction --no-progress --prefer-dist --no-security-blocking
          dependency-versions: "${{ matrix.dependencies }}"

      - name: Run test suite
        run: composer test:unit -- --coverage-clover coverage.xml
