name: Tests

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3 * * 1'
  merge_group:

jobs:
  integration-tests:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    runs-on: ubuntu-latest
    services:
      meilisearch:
        image: getmeili/meilisearch-enterprise:latest
        ports:
          - '7700:7700'
        env:
          MEILI_MASTER_KEY: masterKey
          MEILI_NO_ANALYTICS: true
    strategy:
      matrix:
        php-version: [ '8.1', '8.2', '8.3', '8.4' ]
        sf-version: ['6.4', '7.0', '7.1', '7.2', '7.3' ]
        dependencies: [ 'default' ]
        exclude:
          - php-version: '8.1'
            sf-version: '7.0'
          - php-version: '8.1'
            sf-version: '7.1'
          - php-version: '8.1'
            sf-version: '7.2'
          - php-version: '8.1'
            sf-version: '7.3'
        include:
          - php-version: '8.4'
            sf-version: '6.4'
            dependencies: 'lowest'
          - php-version: '8.4'
            sf-version: '6.4'
            dependencies: 'highest'
          - php-version: '8.4'
            sf-version: '7.3'
            dependencies: 'highest'

    name: integration-tests (PHP ${{ matrix.php-version }}) (Symfony ${{ matrix.sf-version }}.*)${{ matrix.dependencies != 'default' && format(' ({0})', matrix.dependencies) || '' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer, flex

      - name: Validate composer.json
        run: composer validate

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        env:
          SYMFONY_REQUIRE: ${{ matrix.sf-version }}.*
        with:
          composer-options: --no-interaction --no-progress --prefer-dist --no-security-blocking
          dependency-versions: "${{ matrix.dependencies }}"

      - name: Run test suite
        run: composer test:unit -- --coverage-clover coverage.xml

      - name: Upload coverage file
        uses: actions/upload-artifact@v5
        with:
          name: "phpunit-${{ matrix.php-version }}-${{ matrix.sf-version }}-${{ matrix.dependencies }}-coverage"
          path: 'coverage.xml'

  code-style:
    runs-on: ubuntu-latest
    name: 'Code style'
    steps:
      - uses: actions/checkout@v6

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        env:
          SYMFONY_REQUIRE: 7.4.*
        with:
          composer-options: '--no-progress --quiet'
          dependency-versions: 'highest'

      - name: PHP CS Fixer
        run: composer lint:check

      - name: PHP MD
        run: composer phpmd
        continue-on-error: true

      - name: PHPStan
        run: |
          vendor/bin/simple-phpunit --version
          composer phpstan

  yaml-lint:
    name: Yaml linting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Yaml lint check
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml

  upload-coverage:
    name: Upload coverage to Codecov
    runs-on: ubuntu-latest
    needs:
      - integration-tests

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Download coverage files
        uses: actions/download-artifact@v7
        with:
          path: reports

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: reports
